<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header'); %>
  <body>
    <%- include('../partials/nav'); %>

    <div class="constrained-full-height" id="page-index-listings">
      <div class="container">
        <h1>All Listings</h1>
      </div>
    </div>
    <%- include('../partials/footer'); %>
  </body>
</html>
