<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header'); %>
  <body>
    <div class="constrained-full-height" id="page-login">
      <div class="container">
        <div class="text-center pt-5">
          <img src="/assets/logo.png" alt="" /><br /><br />
          <h1>Welcome to Food Rescue!</h1>
        </div>

        <form id="login-form" class="mt-5" method="POST" action="/login">
          <div class="error-msgs">
            <%if (errorMsg){%>
            <p><%=errorMsg%></p>
            <%}%>
          </div>

          <div class="mb-3 justify-center">
            <label for="username" class="form-label ps-0">Username</label>
            <input type="text" class="form-control" id="username" name="username" />
          </div>

          <div class="mb-3 justify-center">
            <label for="password" class="form-label ps-0">Password</label>
            <input type="password" class="form-control" id="password" name="password" />
          </div>

          <div class="success-msg"></div>

          <div class="mb-3 text-center">
            <input type="submit" value="Login" class="btn btn-primary" />
            <br /><br />
            <a href="/signup">Create new account</a>
          </div>
        </form>
      </div>
    </div>
    <%- include('../partials/footer'); %>
  </body>
</html>
