<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header'); %>
  <body>
    <div class="container">
      <div class="constrained-full-height" id="page-signup">
        <div class="text-center pt-5">
          <img src="/assets/logo.png" alt="" /><br /><br />
          <h1>Join us at Food Rescue!</h1>
          <p style="font-style: italic">You too can play a part in reducing food waste.</p>
        </div>

        <form id="signup-form" class="mt-5" method="POST" action="/signup">
          <div class="error-msgs">
            <%if (errorMsg){%>
            <p><%=errorMsg%>. Please try again.</p>
            <%}%>
          </div>

          <div class="mb-3 justify-center">
            <label for="username" class="form-label ps-0">Email</label>
            <input type="email" class="form-control" id="email" name="email" />
          </div>

          <div class="mb-3 justify-center">
            <label for="username" class="form-label ps-0">Username</label>
            <input type="text" class="form-control" id="username" name="username" />
          </div>

          <div class="mb-3 justify-center">
            <label for="password" class="form-label ps-0">Password</label>
            <input type="password" class="form-control" id="password" name="password" />
          </div>

          <div class="mb-3 justify-center">
            <label for="confirm_password" class="form-label ps-0">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              id="confirm_password"
              name="confirm_password"
            />
          </div>

          <div class="mb-3 justify-center" style="display:none">
            <label for="location" class="form-label ps-0">Location</label>
            <input type="text" class="form-control location-input" id="location" name="location" />
          </div>

          <div class="mb-3 justify-center">
            <p>We use your location to show you listings that are available nearby</p>
            <input
              type="button"
              class="btn btn-primary"
              value="Find current location"
              onClick="getLocationLeaflet()"
            />
          </div>

          <div class="mb-3 text-center" id="map"></div>

          <div class="success-msg"></div>

          <div class="mb-3 text-center">
            <input type="submit" value = "Sign up" class="btn btn-primary"></input>
          </div>
        </form>
      </div>
    </div>
    <%- include('../partials/footer'); %>
    <script
      src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
      integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
      crossorigin=""
    ></script>
    <script src="/scripts/map.js"></script>
  </body>
</html>
