p {
  margin-bottom: 0;
}

.constrained-full-height {
  min-height: calc(100vh - 54px);
}

#map {
  height: 50vh;
}

footer {
  background-color: lightgray;
}

footer p {
  margin: 0;
  text-align: center;
  padding: 15px 0;
}

.justify-center {
  justify-content: center;
}

#login-form,
#signup-form {
  margin: 20vw;
}

.error-msgs {
  color: rgb(172, 0, 0);
}

#nav-bar {
  padding: 30px 0;
}

#nav-bar figure {
  margin: 0;
}

.listing {
  padding: 0.5em;
  background-color: lightskyblue;
  border-radius: 20px;
}

.categories,
.expiry-status,
.sorts {
  border: solid black;
  padding: 0.2em;
}

.index-listing-img,
.profile-listing-img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.show-listing-img {
  width: 500px;
  height: 500px;
  object-fit: contain;
}

#preview {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.status {
  display: table;
}

.available {
  background-color: rgb(0, 211, 0);
}

.reserved {
  background-color: yellow;
}

.taken {
  background-color: salmon;
}
