.constrained-full-height {
  min-height: calc(100vh - 54px);
}

footer {
  background-color: lightgray;
}

footer p {
  margin: 0;
  text-align: center;
  padding: 15px 0;
}

.justify-center {
  justify-content: center;
}

#login-form,
#signup-form {
  margin: 25vw;
}

.error-msgs {
  color: rgb(172, 0, 0);
}
